
@{
    ViewData["Title"] = "Login";
}
@model CoreAPISample.Core.Models.AuthenticateModel
@using CoreAPISample.API.Resources
<h1>Login</h1>
<!doctype html>
<html xml:lang="en" lang="en">
<head>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SJUSD - Login</title>
    <!-- ===== CSS  =========================================================================================== -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link href="~/CSS/SignIn.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#UserName").keypress(function () {
                $(".field-validation-error").empty();
            });
            $("#Password").keypress(function () {
                $(".field-validation-error").empty();
            });
            $("#Cancel").click(function () {
                window.location.href = '@Url.Action("SignIn","Account")';
            });
        });
    </script>
</head>
<body data-gr-c-s-loaded="true" class=" ms-backgroundImage">
    <div class="form-horizontal">
        <div class="container">
                <div class="row">
                    @using (Html.BeginForm(AppResource.LoginAction, AppResource.MaterialsClientController, FormMethod.Post, new { id = "validateForm" }))
                    {
                        @Html.AntiForgeryToken()
                        
                        <div class="form-bottom">
                            <div class="form-group">
                                @Html.LabelFor(m => Model.UserName)
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = AppResource.EnterUserNamePH, autofocus = "autofocus" })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => Model.Password)
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control text-box", placeholder = AppResource.EnterPasswordPH })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                @if (TempData["ErrorMessage"] != null)
                                {
                                    <br /><p class="alert alert-danger">@TempData["ErrorMessage"]</p>
                                }
                            </div>
                            <div class="form-group login-bottom text-right">
                                <button type="submit" class="btn btn-primary btn-min-width90 btn-space" value="SignIn">@AppResource.SignInButtonText</button>
                                <button id="Cancel" type="reset" class="btn btn-primary btn-min-width90" value="reset">@AppResource.CancelButtonText</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
     
    </div>
</body>
</html>